html {
  height: 100%;
}

* {
  box-sizing: border-box;
}

:root {
  --font-color-grey: #6e6e6e;
  --color-turquoise: #00b5d4;
  --background-light-grey: #ebeae9;
  --background-dark-charcoal: #181818;
}

body {
  margin: 0;
  background-color: var(--background-light-grey);
  height: 100%;
  font-family: "Roboto", sans-serif;
}
.everything {
  width: 100%;
}

.navbar {
  background-color: #181818e1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  width: 100%;
}
.brand-title {
  padding: 22px 0;
}

.hamburger {
  font-size: 30px;
  display: none;
  position: absolute;
  right: 0;
  margin: 0 20px 0 0;
}
.hamburger i {
  color: white;
}
.header {
  font-family: "Roboto", sans-serif;
  letter-spacing: 2px;
}
.header ul {
  display: flex;
  margin: 0;
  padding: 0;
}

.header li {
  list-style-type: none;
}

.nav-a,
.nav-a:link {
  display: block;
  text-decoration: none;
  color: white;
  padding: 20px;
}

.nav-a:hover,
.nav-a:focus {
  background-color: var(--font-color-grey);
}

.main {
  display: flex;
  justify-content: center;
  margin: 187px 14%;
  width: 75%;
}

.main-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.main-info p {
  color: var(--font-color-grey);
  margin: 0;
  width: 600px;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: 1.2px;
}

.main-info img {
  object-fit: none;
  width: 500px;
  height: 138px;
}

.name-span {
  font-size: 28px;
  font-weight: 600;
}

.email-div {
  width: 40px;
  position: fixed;
  bottom: 0px;
  left: auto;
  right: 40px;
  z-index: 10;
}

.email-div a {
  color: var(--color-turquoise);
  margin: 10px auto;
  padding: 12px;
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.1em;
  writing-mode: vertical-rl;
  text-decoration: none;
}

.email-div::after {
  content: "";
  display: block;
  width: 1px;
  height: 90px;
  margin: 0px auto;
  background-color: var(--color-turquoise);
}
.link-div {
  width: 40px;
  position: fixed;
  bottom: 0px;
  right: auto;
  left: 40px;
  z-index: 10;
}
.link-div a {
  color: var(--color-turquoise);
  margin: 0 6px 10px 6px;
  writing-mode: vertical-rl;
  text-decoration: none;
}

.link-div i {
  font-size: 30px;
}
.link-div i:hover {
  transform: translateY(-5px);
  transition: 0.5s;
}

.link-div::after {
  content: "";
  display: block;
  width: 1px;
  height: 90px;
  margin: 20px auto 0;
  background-color: var(--color-turquoise);
}

.skills-div {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  background-color: var(--background-dark-charcoal);
  padding: 70px 0;
}

.skills-title-div {
  margin: auto;
  width: 50%;
}

.skills-list {
  margin: auto;
  width: 70%;
}

.skills-title-div h2 {
  color: white;
  font-size: 32px;
  margin: 0;
}

.skills-div p {
  font-size: 20px;
  color: var(--font-color-grey);
}

.skills-head {
  font-size: 28px;
}

.skills-list ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.skills-list li {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  color: var(--font-color-grey);
}

.skills-list li img,
.skills-list li i {
  padding-bottom: 10px;
}

.skills-list i {
  font-size: 8em;
  color: var(--color-turquoise);
}

.jquery,
.c-sharp,
.azure,
.vs-code,
.agile {
  width: 120px;
  height: 120px;
}

.sql {
  width: 140px;
  height: 140px;
  padding-bottom: 0;
}

.about-section {
  background-color: var(--background-light-grey);
  padding: 200px 0;
}

.about-info {
  width: 60%;
  margin: auto;
  padding: 30px 0;
}

.about-section h2 {
  font-size: 32px;
  margin-top: 0;
  color: var(--background-dark-charcoal);
}

.about-section img {
  border-radius: 200px;
  object-fit: cover;
  height: 350px;
  width: 350px;
  object-position: 55% 31%;
  float: right;
  margin: 0 20% 0 10px;
  box-shadow: 10px 25px 35px gray;
}

.about-section p {
  text-align: center;
  letter-spacing: 0.5px;
  line-height: 2rem;
  color: var(--font-color-grey);
  font-size: 20px;
}

.quote {
  font-family: "Passion One", cursive;
  font-size: 40px;
}

@media screen and (max-width: 1300px) {
  .main {
    flex-direction: column;
    align-items: center;
    margin: 185px 16%;
  }
  .concept-img {
    margin-right: 80px;
  }
}

@media screen and (max-width: 1150px) {
  .about-info {
    width: 80%;
  }
  .about-info img {
    margin: 0 0 50px 0;
  }
}

@media screen and (max-width: 840px) {
  .about-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .about-section img {
    margin: 0;
  }
  .about-info {
    width: 60%;
  }
}

@media screen and (max-width: 720px) {
  .hamburger {
    display: block;
    text-decoration: none;
    position: absolute;
    top: 11px;
  }
  .header {
    width: 100%;
    display: none;
  }

  .header.active {
    display: flex;
  }
  .navbar {
    flex-direction: column;
    align-items: flex-start;
    padding: 7px;
  }
  .header ul {
    width: 100%;
    flex-direction: column;
  }

  .header li {
    text-align: center;
  }

  .main {
    margin: 91px 13%;
  }

  .main-info {
    align-items: center;
    width: 100%;
  }

  .main-info img {
    object-fit: cover;
    width: 250px;
    height: 71px;
  }

  .main-info p {
    max-width: 80%;
    font-size: 14px;
  }

  .concept-img {
    margin-right: 0px;
    width: 300px;
    height: 300px;
  }

  .email-div {
    display: none;
  }

  .link-div {
    display: none;
  }
  .skills-list {
    margin: 0 8%;
  }
  .about-section {
    margin: 0 auto;
    align-items: center;
  }

  .about-info h2 {
    margin-bottom: 20px;
  }

  .about-info img {
    float: none;
    margin: 0 0 20px 0;
  }
}

@media screen and (max-width: 440px) {
  .about-section img {
    width: 221px;
  }
}

@media screen and (max-width: 310px) {
  .concept-img {
    width: 200px;
    height: 200px;
  }
}
