html {
  height: 100%;
}

body {
  margin: 0;
  background-color: #ebeae9;
  height: 100%;
  font-family: "Roboto", sans-serif;
}
.everything {
  width: 100%;
}
.header-div {
  background-color: #181818e1;
  color: white;
  margin: 0;
  padding: 15px 0;
  width: 100%;
  font-family: "Roboto", sans-serif;
  letter-spacing: 2px;
  font-size: 14px;
  height: 35px;
  position: sticky;
  top: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-a,
.nav-a:link {
  padding: 10px 30px;
  text-decoration: none;
  color: white;
}

.nav-a:hover {
  color: #00b5d4;
}

.main {
  display: flex;
  justify-content: center;
  margin: 185px 14%;
  width: 75%;
}

.main-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.main-info p {
  color: #6e6e6e;
  margin: 0;
  width: 600px;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: 1.2px;
}

.main-info img {
  object-fit: none;
  width: 500px;
  height: 138px;
}

.name-span {
  font-size: 28px;
  font-weight: 600;
}

.email-div {
  width: 40px;
  position: fixed;
  bottom: 0px;
  left: auto;
  right: 40px;
  z-index: 10;
}

.email-div a {
  color: #00b5d4;
  margin: 10px auto;
  padding: 12px;
  font-family: "Roboto", sans-serif;
  font-size: var(--fz-xxs);
  line-height: var(--fz-lg);
  letter-spacing: 0.1em;
  writing-mode: vertical-rl;
  text-decoration: none;
}

.email-div::after {
  content: "";
  display: block;
  width: 1px;
  height: 90px;
  margin: 0px auto;
  background-color: #00b5d4;
}

.skills-div {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  background-color: #181818;
  padding-top: 30px;
}

.skills-title-div {
  margin: auto;
  width: 50%;
}

.skills-list {
  margin: auto;
  width: 70%;
}

.skills-title-div h2 {
  color: white;
  font-size: 32px;
  margin: 0;
}

.skills-div p {
  font-size: 20px;
  color: #6e6e6e;
}

.skills-head {
  font-size: 28px;
}

ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

li {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  color: #6e6e6e;
}

li img,
li i {
  padding-bottom: 10px;
}

i {
  font-size: 8em;
  color: #00b5d4;
}

.jquery,
.c-sharp,
.azure,
.vs-code,
.agile {
  width: 120px;
  height: 120px;
}

.sql {
  width: 140px;
  height: 140px;
  padding-bottom: 0;
}
